{
  "presets": ["es2016", "react"],
  "plugins": [
    "transform-flow-strip-types",
    "syntax-flow",
    "transform-decorators-legacy",
    "syntax-async-functions",
    "transform-regenerator",
  ]
}
