{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "extends": "airbnb",
  "rules": {
    "max-len": ["error", 100, { "ignoreComments": true }],
    "no-trailing-spaces": ["error", { "skipBlankLines": true }],
    "no-unused-vars": ["error", {"argsIgnorePattern": "[event|payload]"}],
    "new-cap": ["error", {"capIsNewExceptions": ["Immutable"]}],
    "object-curly-spacing": ["error", "never"]
  },
  "globals": {
    "expect": true,
    "__ENVIRONMENT__": true,
    "__VERSION__": true
  },
  "settings": {
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es6": true
  }
}
