{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "extends": "airbnb",
  "rules": {
    "new-cap": ["error", {"capIsNewExceptions": ["Immutable"]}],
    "object-curly-spacing": ["error", "never"]
  },
  "settings": {
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es6": true
  }
}
