body
html
  font-family "Aktiv Grotesk", sans-serif

h1
h2
h3
h4
h5
h6
p
span
div
aside
article
footer
nav
header
body
html
  margin 0
  padding 0
  border 0

div
aside
article
footer
nav
header
body
  box-sizing border-box
  display block
